@import "../../css/general";

.projects-wrap {
  .row .col:first-child {
    border-right: 1px solid #ccc;
  }
  .project-box {
    text-align: center;
    padding: 100px;
    p {
      min-height: 135px;
    }
  }
  .mechanical-recycling-display,
  .chemical-recycling-display {
    margin-bottom: 100px;
    border-top: 1px solid #ccc;
    padding-top: 50px;
    h2 {
      text-align: center;
      color: $colorGrayLight;
    }
    p {
      text-align: center;
    }
    embed {
      height: 800px;
    }
  }
  [display="true"] { display: block; }
  [display="false"] { display: none; }
  .MuiInputBase-root {
    margin-bottom: 15px;
  }
  .under-line {
    border-bottom: 1px solid #ccc;
    padding: 3rem 0;
    text-align: center;
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: #9e9e9e;
      max-width: 725px;
    }
  }
}

.modal-header,
.modal-footer {
  padding: 1rem 4rem ;
}
.modal-footer {
  justify-content: center;
}
.modal-body {
  padding: 4rem;
}
.subscription-wrap {
  display: table;
  margin: 20px auto;
  color: #989ea2 !important;
}
