@import "../../css/general";

.plastcraft-products-wrap {
  .container {
    margin-top: 5rem;
    h2 {
      margin: 0 0 10px 0;
    }
  }
  .img-col {
    background: no-repeat center center ;
    background-size: cover;
    height: 300px;
  }
  .txt-col {
    display: table;
    height: 300px;
    padding: 25px 50px;
    background-color: $colorGrayLightSuper;
  }
  .txt-col-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
